
:root {
    --blauw: #1e90ff;
    --geel: #ffd93d;
    --lichtblauw: #eaf4ff;
    --wit: #ffffff;
    --zwart: #1f2933;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--lichtblauw);
    color: var(--zwart);
}

header {
    background-color: var(--blauw);
    color: var(--wit);
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    margin-bottom: 10px;
}

nav {
    background-color: var(--geel);
    text-align: center;
    padding: 15px;
}

nav a {
    color: var(--zwart);
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}


section {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

section h2 {
    color: var(--blauw);
    margin-bottom: 15px;
}
.over-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.foto-vorm {
    width: 180px;
    height: 180px;
    background-color: var(--geel);
    border-radius: 60% 40% 50% 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foto-vorm img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 55% 45% 50% 50%;
}

.projecten {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project {
    background-color: var(--wit);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}


.project-afbeelding{
    height: 150px;
    border: 3px solid var(--geel);
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: var(--lichtblauw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-afbeelding img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.project:hover {
    transform: translateY(-5px) rotate(-2deg);
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}


footer {
    background-color: var(--blauw);
    color: var(--wit);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

